<html>
	<head>
		<style>
		.center {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);}
		</style>
		<title>GUI Based Marksheet Generator</title>
	</head>
	<body>
	<p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
	</p>
	<div class="center">
	<form action = "http://localhost:5000/" method = "POST" enctype = "multipart/form-data">
		<p style="text-align:center;">Upload Files(Master_Roll.CSV & Respone.CSV) <input type = "file" name = "files[]" multiple="true"/>
		<input type = "submit"/>
		<p style="text-align:center;">Marks for Correct Answer: <input type = "number" step="any" min="0" oninput="this.value = Math.abs(this.value)"name = "pos" />
		<p style="text-align:center;">Negative Marks for Wrong Answer: <input type = "number" step="any" min="0" oninput="this.value = Math.abs(this.value)"name = "neg" />
		<p style="text-align:center;"><button type="submit" name="roll wise">Generate Roll Number Wise Marksheet</button>
		<p style="text-align:center;"><button type="submit" name="concise">Generate Concise Marksheet</button>
		<p style="text-align:center;"><button type="submit" name="mail">Send Email</button>	
	</form>
	</div>  
	</body>
</html>