<html>
	<head>
		<style>
		.center 
		{
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
		</style>
		<script>
		function Default()
		{
			if (document.getElementById("CorrAns").value == "" || document.getElementById("InCorrAns").value == "")
			{
				document.getElementById("CorrAns").value = "5";
				document.getElementById("InCorrAns").value = "1";
			}
		}
		</script>
		<title>GUI Based Marksheet Generator</title>
	</head>
	<body>
	<div class="center">
        <img src={{url_for('static',filename = '/instiLogo.jpeg')}} alt="Institue Logo"><br><br><br>
	<form action = "http://localhost:5000/" method = "POST" enctype = "multipart/form-data">
		<p style="text-align:center;">Upload Files(Master_Roll.CSV & Respone.CSV) <input type = "file" name = "files[]" multiple="true"/>
		<p style="text-align:center;">Marks for Correct Answer: <input name = "pos" />
		<p style="text-align:center;">Negative Marks for Wrong Answer: <input name = "neg" /><br>
		<button type = "submit" onclick = "Default()">Upload</button>
		<p style="text-align:center;"><button type="submit" name="roll wise">Generate Roll Number Wise Marksheet</button>
		<p style="text-align:center;"><button type="submit" name="concise" >Generate Concise Marksheet</button>
		<p style="text-align:center;"><button type="submit" name="mail">Send Email</button>	
		<p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
	</p>
	</form>
	</div>  
	</body>
</html>
